body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}
#contenido {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px; /* AumentÃ© el espacio entre elementos */
}

page-asistencias {
  .qr {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px; /* Reduje el tamaÃ±o del QR */
    height: 240px; /* Reduje el tamaÃ±o del QR */
    background-color: #fff;
    border: none; /* QuitÃ© el borde */
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #ccc;
  }
}

ion-toolbar {
  --ion-color-primary: white;
  color: black;
}

ion-button {
  color: black;
}

.input-qr {
  width: 100%;
  padding: 10px;
  border: none; /* QuitÃ© el borde */
  border-radius: 5px; /* AgreguÃ© bordes redondeados */
  font-size: 16px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  outline: none; /* Quita el contorno al hacer clic en el input */
  transition: background-color 0.3s;
}

.input-qr::placeholder {
  color: white;
}




.boton-generar {
  background-color: #FFB800;
  color: #160f0f;
  border: none; /* QuitÃ© el borde */
  padding: 12px 40px; /* AumentÃ© el tamaÃ±o del botÃ³n */
   /* AumentÃ© el radio del borde */
  cursor: pointer;
  font-size: 18px; /* AumentÃ© el tamaÃ±o del texto */
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* AÃ±adÃ­ espacio entre el Ã­cono y el texto */
}

.boton-generar:hover {
  background-color: #d99c01;
}
.scanner-buttons{
  margin: 0px;
  position: absolute;
  bottom: 100px;
  width: 100vw;
  height: 50px;
  z-index: 11;
}