<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-button fill="clear" slot="end" (click)="backMenu()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">Asistencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [style.--background]="scanActive ? '#00000000' : '#fff'" class="boton1">
      <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive" >
        <ion-icon name="scan" slot="star"></ion-icon>
        empezar a escanear
       </ion-button>

<p class="ion-text-center" *ngIf="result && !scanActive">{{ result }}, {{ name }}</p>

<ion-list *ngIf="!scanActive">
  <ion-item *ngFor="let asist of asistencias">
    <ion-label>{{ asist.asignatura }}, {{ asist.fecha }}</ion-label>
  </ion-item>
</ion-list>

<ion-row class="scanner-buttons" [hidden]="!scanActive">
  <ion-col class="ion-no-padding">
    <ion-button expand="full" (click)="stopScanner()">parar escaneo
    </ion-button>
  </ion-col>
</ion-row>
<div class="scan-box" [hidden]="!scanActive"></div>
</ion-content>